# Binaries and build output
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
donfra-api

# Logs and coverage
*.log
coverage.out
.cache/*

# IDE/editor
.idea/
.vscode/
*.swp
*.swo

# Env/config
.env
.env.local
.DS_Store

# Dev report
dev-report/