donfra.dev {
    handle /api/* {
        reverse_proxy http://api:8080
    }

    handle /ws/* {
        reverse_proxy http://ws:6789
    }

    handle /yjs* {
        reverse_proxy http://ws:6789
    }

    reverse_proxy http://ui:3000
}
