apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: donfra
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
    - name: Prometheus
      type: prometheus
      access: proxy
      url: http://prometheus:9090/prometheus
      isDefault: true
      editable: true
      jsonData:
        timeInterval: 15s

    - name: Loki
      type: loki
      access: proxy
      url: http://loki:3100
      editable: true
      jsonData:
        maxLines: 1000

    - name: Jaeger
      type: jaeger
      access: proxy
      url: http://jaeger:16686
      editable: true
      jsonData:
        tracesToLogs:
          datasourceUid: 'loki'
          tags: ['trace_id']
