apiVersion: v1
kind: Service
metadata:
  name: jaeger
  namespace: donfra
spec:
  selector:
    app: jaeger
  ports:
  - port: 16686
    targetPort: 16686
    name: ui
  - port: 4318
    targetPort: 4318
    name: otlp-http
  - port: 14268
    targetPort: 14268
    name: collector
  type: ClusterIP
