apiVersion: apps/v1
kind: Deployment
metadata:
  name: jaeger
  namespace: donfra
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jaeger
  template:
    metadata:
      labels:
        app: jaeger
    spec:
      containers:
      - name: jaeger
        image: jaegertracing/all-in-one:latest
        env:
        - name: COLLECTOR_OTLP_ENABLED
          value: "true"
        - name: QUERY_BASE_PATH
          value: "/jaeger"
        ports:
        - containerPort: 16686
          name: ui
        - containerPort: 4318
          name: otlp-http
        - containerPort: 14268
          name: collector
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "500m"
