apiVersion: v1
kind: Service
metadata:
  name: loki
  namespace: donfra
spec:
  selector:
    app: loki
  ports:
  - name: http
    port: 3100
    targetPort: 3100
  - name: grpc
    port: 9096
    targetPort: 9096
  type: ClusterIP
