apiVersion: v1
kind: ConfigMap
metadata:
  name: ui-config
  namespace: donfra
data:
  NEXT_PUBLIC_API_BASE_URL: "/api"
  NEXT_PUBLIC_COLLAB_WS: "/yjs"
  API_PROXY_TARGET: "http://api:8080"
  WS_PROXY_TARGET: "http://ws:6789"
